I want you to classify text for me. Your response must always be a python-like list of the 3 most possible class labels like: [0, 12, 15]
See below all the possible intents and their unique labels. Use the description to infer information about each class.  
{% for item in labels %}
"""
intent: {{ item.intent }}
description: {{item.description}}
label: {{ item.label }}
"""
{% endfor %}

Here is the text that needs to be classified
"""
text: {{ text }}
label: